{% extends "strength_estimator/base.html" %}
{% block content %}

   <h1 style="color: black;">About</h1>
   <h4><strong>Password Strength Estimator</strong></h4>
   <p style="font-size: 1.3vw;">This is an application that checks the strength of password.The application works by calculating with help of few ways and displays the detailed report about the strength of password with parameters like time taken to crack,entropy etc..Based on that the user can understand how strong their password is. If their password takes very little time for a hacker to crack then the user can understand that his/her password is very weak (or not that much strong). So this password strength estimator can help the users to understand how easy their passwords to crack.</p>

{% endblock content%}
